*{
    margin: 0;
    padding: 0;
}

/* The header that wraps the navbar */
.navbar-wrapper{
    display: flex;
    flex-direction: row;
    padding: 2%;
    background-color: grey;
    align-items: center;
    justify-content: space-between
}

/* The logo */
.logo{
    font-size: .6rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2px;
}

/* The navbar */
.navbar{
    display: none;
}

/* The navbar is responsive */ 
.navbar.responsive{
    position: relative;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* The links inside the navbar */
a {
    padding: 5px;
    text-align: center;
    font-size: .85rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: aliceblue;
}

/* The menu icon for the navbar */
a.menu-icon{
    display: inline-block;
    font-size: 1rem;
}

  /* CSS Responsive */
  @media screen and (min-width: 600px) {
    .navbar{ /*The full navbar will display when viewport is >600px.*/
        display: flex;
        justify-content: flex-end;
    }

    a.menu-icon { /* The menu icon will no longer display when full navbar is. */
        display: none;
    }

    a{
        font-size: 1rem;
    }

    .logo{
        font-size: 1rem;
    }

  }
